Repository iMobs/class-faker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
	"*.{js,ts}": "eslint --fix",
	"*.{js,json,ts}": "prettier --write"
}

feat: vaguely starting to work
  .vscode/launch.json
  jest.config.ts
  src/decorators/fixture.ts
  src/fixture-factory.ts
  src/index.ts
  test/factory.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write

test: write out most tests, some changes
  package.json
  src/decorators/fixture.ts
  src/fixture-factory.ts
  test/factory.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

Create ci.yml
  .github/workflows/ci.yml
Due: none

ci: remove node 14
  .github/workflows/ci.yml
Due: none

chore: add lint script
  package.json
Due: prettier --write

test: skip failing test, will come back
  test/factory.spec.ts
Due: eslint --fix, prettier --write

fix: array mapping and renaming
  src/fixture-factory.ts
  test/factory.spec.ts
Due: eslint --fix, prettier --write

fix: remove import of reflect-metadata
  src/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

chore(deps): pin dependencies
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update actions/checkout action to v3
  .github/workflows/ci.yml
Due: none

chore(deps): update actions/setup-node action to v3
  .github/workflows/ci.yml
Due: none

chore(deps): update typescript-eslint monorepo to v5.16.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to v27.1.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v4.6.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v2.6.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency prettier to v2.6.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @faker-js/faker to v6.1.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint-plugin-import to v2.26.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v8.13.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5.18.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5.21.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lint-staged to v12.4.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to v4.6.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @faker-js/faker to v6.3.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update commitlint monorepo to v16.2.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency eslint to v8.14.0
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update typescript-eslint monorepo to v5.22.0
  package.json
  yarn.lock
Due: prettier --write

Update renovate.json
  renovate.json
Due: prettier --write

fix: change faker to named export
  src/fixture-factory.ts
Due: eslint --fix, prettier --write

fix: another default to named import
  test/factory.spec.ts
Due: eslint --fix, prettier --write

chore: add mit license
  LICENSE
Due: none

feat: update faker with fixes
  package.json
  src/decorators/fixture.ts
  src/fixture-factory.ts
  test/factory.spec.ts
  yarn.lock
Due: eslint --fix, prettier --write

ci: change target node versions to 16, 18, 20
  .github/workflows/ci.yml
Due: none

refactor: replace any with unknown
  jest.config.ts
  src/fixture-factory.ts
Due: eslint --fix, prettier --write

chore(deps): update husky to v8
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update husky to v8
  .husky/commit-msg
  .husky/pre-commit
Due: none

refactor: replace deprecated function
  src/fixture-factory.ts
Due: eslint --fix, prettier --write

docs: wip readme
  README.md
Due: none
